/*全体*/
.hidden_box {
  margin: 2em 0;
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 15px;
  font-weight: bold;
  background: #efefef;
  border-radius: 5px;
  cursor :pointer;
  transition: .5s;
}

/*アイコンを表示*/
.hidden_box label:before {
  display: inline-block;
  content: '\f078';
  font-family: 'FontAwesome';
  padding-right: 5px;
  transition: 0.2s;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: silver;
}

/*アイコンを切り替え*/
.hidden_box input:checked ~ label:before {
   content: '\f00d';
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
   color: #668ad8;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  background-color: antiquewhite;
  height: 40px;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}
