.fx1 {
  padding: 10px 40px;
  position:relative;
  max-width:800px;
  width:100%;
  height:auto;

}
.fx2 {
  margin: 0 50px;
  max-width:450px;
  background-color: green;
  border-radius: 5px;
  border: 1px solid rgb(2, 90, 2);
  color:white;
  padding:3px 10px;
  font-weight:bold;
  overflow:visible;
}
.fx2:hover{
  background-color: grey;
}

.checkedexample input {
  display: none;
}

.checkedexample .appear {
  height: 0;
  margin: 0 auto;
  padding: 0 50px;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.checkedexample input:checked ~ .appear {
  padding: 10px 0;
  height: auto;
  opacity: 1;
  font-size: 20px;
}