.whole-wrapper{
  width: 1000px;
  height: auto;
  padding-bottom: 20px;
  margin: 5px auto;
  background-color: rgb(255, 255, 255);
  
  .top-wrapper{
    background-color: rgb(255, 254, 221);
    height: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 6px rgb(179, 179, 179);
    .app_logo_img{
      width: auto;
      height: 100px;
    }
    .new-box{
      height: 70px;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;

      .new-button {
        width: 120px;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 0 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: rgb(255, 255, 255);
        background: rgb(255, 145, 0);
        border: solid 3px rgb(255, 115, 0);
        border-radius: 10px;
        text-decoration: none;
        font-size: 40px;
        box-shadow: 0 5px 6px rgb(179, 179, 179);
      }
      .new-button:hover {
        color: white;
        background-color: orangered;
        border: solid 3px orangered;
      }
    }
  
    .sort-box{
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;

      .sort-pull{
        width: 50px;
        font-size: 20px;
      }
      .sort-button{
        width: 50px;
        font-size: 20px;
      }
    }

  }


  .index-wrapper{
    margin: 20px 30px;
    padding: 30px 20px;
    
    .index-box{
      .index-box-contents{
        margin-bottom: 70px;
        .index-contents{
          font-size: 25px;
          display: flex;
          justify-content: space-between;
          .right-contents{
            display: flex;
            justify-content: center;
            .category-badge{
              width: auto;
              height: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 25px;
              margin-left: 35px;
              font-family: Arial, Helvetica, sans-serif;
              font-weight: bold;
              color: rgb(255, 255, 255);
              background: rgb(0, 17, 255);
              border: solid 3px rgb(0, 2, 143);
              border-radius: 5px;
              text-decoration: none;
              font-size: 20px;
            }
          }
        }
        .detail-contents{
          display: none;
        }
      }
    }
    
    .index-dummy-word {
      display: flex;
      justify-content: center;
      padding: 50px auto 40px auto;
      font-size: 30px;
      color: rgb(151, 150, 150);
      line-height: 60px;
    }
  }
}

.purchase-btn {
  width: 120px;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  opacity: 0.5;
}
.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}
.purchase-btn-icon {
  width: 140px;
  height: auto;
}